<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>
</head>
<body>
    Please reset your password by <a href='@ViewBag.CallbackUrl'>clicking here</a>.
</body>
</html>