<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email confirmation</title>
</head>
<body>
    Please confirm your account by <a href='@ViewBag.CallbackUrl'>clicking here</a>.
</body>
</html>