<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
  
  <targets>
    <target name="taskerrors"
			xsi:type="File"
			layout="${longdate}|${level:format=FirstCharacter}|${callsite}|${message}|${exception:format=tostring}"
      fileName="${basedir}/logs/taskerrors-${shortdate}.log" />

    <target name="taskOut"
      xsi:type="File"
      layout="${longdate}|${level:format=FirstCharacter}|${threadid:padding=-2}|${level:format=FirstCharacter}|${message}${onexception:inner=|${exception:format=tostring}}"
      fileName="${basedir}/logs/monitor-${mdlc:item=taskId}/monitor-${mdlc:item=taskId}.log"
      archiveFileName="${basedir}/logs/monitor-${mdlc:item=taskId}/monitor-${mdlc:item=taskId}.{####}.zip"
      enableArchiveFileCompression="true"
      archiveNumbering="Sequence"
      archiveAboveSize="52428800"
      maxArchiveFiles="5"
      />
    
    <target name="general"
      xsi:type="File"
      layout="${longdate}|${level:format=FirstCharacter}|${threadid:padding=-2}|${level:format=FirstCharacter}|${message}${onexception:inner=|${exception:format=tostring}}"
      fileName="${basedir}/logs/log-${shortdate}.log" />

    <target name="console"
      xsi:type="ColoredConsole"
      layout="${longdate}|${threadid:padding=-2}|${level:format=FirstCharacter}|${message}${onexception:inner=|${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="taskerrors" minlevel="Debug" writeTo="taskerrors" />
    <logger name="*" minlevel="Debug" writeTo="general" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="Task-*" minlevel="Trace" writeTo="taskOut" />
  </rules>
</nlog>