<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
  
  <targets>
    <target name="general"
      xsi:type="File"
      layout="${longdate}|${level:format=FirstCharacter}|${threadid:padding=-2}|${message}${onexception:inner=|${exception:format=tostring}}"
      fileName="${basedir}/logs/log-${longdate:cached=true}.log"
      concurrentWrites="false"
      archiveAboveSize="5242880"
      archiveFileName="${basedir}/logs/log-${shortdate}.{#}.log"
      maxArchiveFiles="10" />

    <target name="console"
      xsi:type="ColoredConsole"
      layout="${longdate}|${threadid:padding=-2}|${message}${onexception:inner=|${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="general" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>