<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.@@2x.png">
                Welcome @User?.Identity?.Name!
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                Click <a asp-page="/Account/Manage/Index">here</a> to manage your personal data.
            </p>
        </div>
    </div>
</div>
