@{
    ViewData["Title"] = "About Product";
    ViewData["Active"] = "About";
}

<div class="page-header">
    <h1 class="page-header__title">About Uptime Engineer</h1>
</div>
<div class="container">
    <div class="about">
        <div class="about__text">
            <p>Everyone with a website knows that, things can sometimes go wrong. Sometimes it is with the code, the server or the network....</p>
            <p>Uptime Engineer is all about helping you to keep your websites up.</p>
            <p>It monitors your websites every 5 minutes and alerts you if your sites are down (actually, it is smarter, details below).</p>
            <h2 class="about__title">How It Works?</h2>
            <p>Here are the step-by-step actions of Uptime Engineer to understand it better:</p>
        </div>
        <div class="about__list">
            <ul class="about-list">
                <li class="about-list__item">It asks for your websites headers and gets status codes like "200-ok", "404-not found", etc. every 5 minutes (or more depending on the monitor's settings),</li>
                <li class="about-list__item">If the status code doesn't indicate a problem, we are good</li>
                <li class="about-list__item">If the status code is~400+ and 500+, then the site is not loading</li>
                <li class="about-list__item">In order to make sure the site is down, Uptime Engineer makes several more checks in the next 30 seconds,</li>
                <li class="about-list__item">If the site is still down, it sends an alert.</li>
            </ul>
        </div>
        <div class="about__text">
            <h2 class="about__title">Why Free?</h2>
            <p>Ok, we know it is hard to offer something for free. And, to be honest, we can not foresee the expenses it will have.</p>
            <p>As designers/developers behind this service who have been into many different projects, we simply want to experience. This is exactly why we created Uptime Engineer (in Jan 2014).</p>
            <p>IWe know that nobody likes a free service going paid. If we ever need to charge users to guarantee the future of Uptime Engineer, we'll try our best to keep what is already free as free</p>
            <p><b>Update Jan 13 2017:</b> We have introduced a Pro Plan today.</p>
            <p>And, the Free Plan is still here to stay :)</p>
        </div>
    </div>
</div>