@{
    ViewData["Title"] = "Frequently Asked Questions";
    ViewData["Active"] = "Faq";
}

<div class="page-header">
    <h1 class="page-header__title">Frequently asked questions</h1>
    <p class="page-header__description">Expand interesting question to see answer.</p>
</div>
<div class="container">
    <div class="faq">
        <div class="faq__item">
            <h2 class="faq__item-title">Why is Uptime Engineer free?</h2>
            <div class="faq__item-text">
                <p>The main monitoring location is in Dallas-USA and there are other nodes in other countries/continents to verify down statuses.</p>
                <p>All the locations and IPs used can be found in the&nbsp;<a href="#">Locations &amp; IPs</a>&nbsp;page.</p>
            </div>
        </div>
        <div class="faq__item">
            <h2 class="faq__item-title">Where are the monitoring locations and what are their IPs?</h2>
            <div class="faq__item-text">
                <p>The main monitoring location is in Dallas-USA and there are other nodes in other countries/continents to verify down statuses.</p>
                <p>All the locations and IPs used can be found in the&nbsp;<a href="#">Locations &amp; IPs</a>&nbsp;page.</p>
            </div>
        </div>
        <div class="faq__item">
            <h2 class="faq__item-title">Are my website stats affected?</h2>
            <div class="faq__item-text">
                <p>The main monitoring location is in Dallas-USA and there are other nodes in other countries/continents to verify down statuses.</p>
                <p>All the locations and IPs used can be found in the&nbsp;<a href="#">Locations &amp; IPs</a>&nbsp;page.</p>
            </div>
        </div>
        <div class="faq__item">
            <h2 class="faq__item-title">What are the differences between monitor types?</h2>
            <div class="faq__item-text">
                <p>The main monitoring location is in Dallas-USA and there are other nodes in other countries/continents to verify down statuses.</p>
                <p>All the locations and IPs used can be found in the&nbsp;<a href="#">Locations &amp; IPs</a>&nbsp;page.</p>
            </div>
        </div>
        <div class="faq__item">
            <h2 class="faq__item-title">The free SMS feature is not working for me.</h2>
            <div class="faq__item-text">
                <p>The main monitoring location is in Dallas-USA and there are other nodes in other countries/continents to verify down statuses.</p>
                <p>All the locations and IPs used can be found in the&nbsp;<a href="#">Locations &amp; IPs</a>&nbsp;page.</p>
            </div>
        </div>
        <div class="faq__item">
            <h2 class="faq__item-title">I didn't receive any up/down notifications.</h2>
            <div class="faq__item-text">
                <p>The main monitoring location is in Dallas-USA and there are other nodes in other countries/continents to verify down statuses.</p>
                <p>All the locations and IPs used can be found in the&nbsp;<a href="#">Locations &amp; IPs</a>&nbsp;page.</p>
            </div>
        </div>
    </div>
</div>