@{
    ViewData["Title"] = "Support";
    ViewData["Active"] = "Support";
}

<div class="page-header">
    <h1 class="page-header__title">Support</h1>
</div>
<div class="container">
    <div class="support">
        <div class="support__text">
            <p>Although Uptime Engineer is free, we try to provide premium-like support.</p>
            <p>Before contacting us, please make sure that the answer to your question is not in&nbsp;<a href="#">FAQ</a>.</p>
            <p>If you still need our help, we'll do our best for that.</p>
            <p>Feel free to send a support request to &nbsp;<a href="mailto:support@uptimeengineer.com">support@uptimeengineer.com</a>&nbsp;(from the account e-mail) and we'll be replying soon.</p>
        </div>
        <div class="support__contacts">
            <h2 class="support__contacts-title">The service is offered by:</h2>
            <p>Uptime Engineer Service Provider Ltd.</p>
            <dl class="support__contacts-item">
                <dt>Address:</dt>
                <dd>Regent House, Office 21, Bisazza Street, Sliema SLM1640, MALTA</dd>
            </dl>
            <dl class="support__contacts-item">
                <dt>Telephone:</dt>
                <dd>+90 212 299 3044 (available 9am - 18pm UTC +00 in weekdays)</dd>
            </dl>
            <dl class="support__contacts-item">
                <dt>E-mail:</dt>
                <dd>support@uptimeengineer.com (available 7/24 weekdays and weekends)</dd>
            </dl>
        </div>
    </div>
</div>