@model Users.ViewModels.Account.RegisterViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Register";
}

<div class="page-header">
    <h1 class="page-header__title">Registration</h1>
</div>

<div class="container">
    <div class="login-page" style="padding: 60px 0;">

        @await Html.PartialAsync("_ValidationSummary")

        <div class="settings">
            <div class="settings__layout wrapper wrapper--narrow">

                <div class="settings__col">
                    <div class="settings__section settings__section--account panel">
                        <header class="settings__section-header">
                            <h2 class="settings__section-title">Register</h2>
                        </header>
                        <form class="form" asp-area="Uptime.Plugin.Auth" asp-controller="Account" asp-action="Register">
                            <div class="form__section">
                                <div class="form-group">
                                    <label asp-for="Email" class="form-group__label">Username</label>
                                    <div class="form-group__field">
                                        <label class="field field--wide">
                                            <input placeholder="Email" asp-for="Email" autofocus>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="form-group__label">Password</label>
                                    <div class="form-group__field">
                                        <label class="field field--wide">
                                            <input type="password" placeholder="Password" asp-for="Password" autocomplete="off">
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="form-group__label">Password</label>
                                    <div class="form-group__field">
                                        <label class="field field--wide">
                                            <input type="password" placeholder="Confirm Password" asp-for="ConfirmPassword" autocomplete="off">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form__footer">
                                <button class="button button--color-green" name="button" value="Register">
                                    <span class="button__inner">Register</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();

                    <div class="settings__col">
                        <div class="settings__section settings__section--account panel">
                            <header class="settings__section-header">
                                <h2 class="settings__section-title">Register With</h2>
                            </header>
                            <div class="form">
                                <div class="form__section">
                                    <ul class="list-inline">
                                        @foreach (var provider in loginProviders) {
                                            <li>
                                                <a class="btn btn-default"
                                                   asp-action="ExternalLogin"
                                                   asp-route-provider="@provider.Name"
                                                   asp-route-returnUrl="@ViewData["ReturnUrl"]">
                                                    @provider.DisplayName
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
